<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}Chouette Sieste
            {% endblock %}
        </title>


        {% block stylesheets %}
            <link rel="stylesheet" href="https://bootswatch.com/4/yeti/bootstrap.min.css">
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap" rel="stylesheet">
        {% endblock %}
    </head>

    <body>
        <nav class="navbar">
            {% if app.user %} 
            <p>{{ app.user.username }}</p>
            <a href="{{ path('app_home') }}">Home</a>
            {% else %}
            <p>Test</p>
        
            {% endif %}
        </nav>
        {% block body %}



        {% endblock %}
    </body>

</html></div></html>